.site-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
    top: 0;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		@include desktop {
		display: flex;
		align-items: center;
		justify-content: space-between;
		}

    .site-branding {
	display: flex;
	align-items: center;
	padding: 1rem 1.4rem;   
	width: 100%;
	justify-content: space-between;
	
		.hamburger {
			@include desktop {
			display: none;
			}
		}
    }
    //position: relative;
    img {
	height: 2.8rem;
    }

    .menu-menu-container {
	width:100vw;
		@include desktop {
			width: auto;
		}
    }

    .menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: -100vw;
	width: 0;
	transition-timing-function: ease-in-out;
	transition-property: all;
	transition-duration: .8s;
	background: white;
    height: 100vh;
		@include desktop {
			width: auto;
			display: flex;
			position: relative;
			right: auto;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			height: 10vh;
		}
	text-align: right;
	a {
	    right: -100vw;
	    transition-timing-function: ease-in-out;
	    transition-property: all;
	    transition-duration: .1s;
		margin: 1.4rem;
		color: $color__text-main;
	    @include desktop {
		margin: 1.4rem;
	    }
	    text-transform: uppercase;
	    // color: $color__text-main;
	    border-bottom: solid transparent .15rem;
	    @include desktop {
		padding-bottom: .2rem;
		&:active,
		&:hover {
		    border-bottom: solid green .15rem;
		}
	    }
	}
	li {
	    display: flex;
	    justify-content: flex-end;
		font-size: 1.2em;
		letter-spacing: 1px;
	    &:last-child > a {
		background: #3C549E;
		padding: 1rem 5rem;
		border-radius: 27px;
		color: white;
		letter-spacing: 3px;
		width: auto;
		text-align: center;
		@include desktop {
		    margin: .7rem; 
		    width: 100%;
		    padding: .7rem 2.5rem;
		}
	    }
	}
    }
    .menu-show {
	display: block;
	width: 100vw;
	right: 0;
	// background-color: $color__background-white;
	display: flex;
	flex-direction: column;
	position: absolute;
	transition-timing-function: ease-in-out;
	transition-property: all;
	transition-duration: .8s;
	a {
	    position: relative;
	    right: 0;
	    visibility: visible;
	}
    }
}

