/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-logo {
    background-image: url(../assets/logos/ChelseaJadeMedia-logo.png);
			background-size: cover;
			background-position: right;
            width: 200px;
            height: 200px;
			z-index: 2;
}