/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-info {
	padding: 0.5rem 0rem 0.5rem 0rem;
	z-index: 2;
	width: 100%;
    align-self: center;
}

.site-title-heading {
    text-align: right;
    text-transform: uppercase;
    font-size: 3.625rem;
    
    .site-title-heading-2 {
        font-family: $font__main;
        font-size: 1.5rem;
    }
}

.container-logo {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.front-logo {
    height: 28rem;
    width: 20rem;
    justify-self: center;
    margin-top: 10rem;
    // box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.front-img-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}

.box-container {
    height: 15rem;
    width: 15rem;

    a {
        text-align: center;
        margin: 0;
        color: white;
        letter-spacing: 3px;
        text-decoration: none;

        .box-title {
            font-weight: 500;
        }
    }
}

.box-image {
    display: flex;
    height: 15rem;
    width: 15rem;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}


/* About  page */

.site-main-about {
    .entry-title {
        display: none;
    }
    h1 {
     font-size: 1.875rem;   
     text-transform: none;
     padding: 3rem 1.5rem;
    }
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-template-rows: 11rem 33rem 11rem 11rem 22rem 11rem;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 4rem;
    position: relative;

    .image-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .image-1-blue-box {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background: #8EC6BF;
        width: 13rem;
        height: 13rem;
        position: absolute;
        top: -15px;
	    left: -30px;
        z-index: -1;
    }

    .content {
        grid-column: 1 / 3; 
        grid-row: 2 / 3;

        p {
            font-weight: 300;
        }
    }

    .image-2 {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        margin: 0rem 1rem 1rem 0rem;
    }

    .image-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        margin: 0rem 0rem 1rem 1rem;
    }

    .image-1-red-box {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        background: #DD7D74;
        width: 11rem;
        height: 12rem;
        position: absolute;
        top: -15px;
	    left: 0px;
        z-index: -1;
    }

    .image-4 {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        margin: 1rem 0rem;
    }

    .image-1-orange-box {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        background: #EBB67A;
        width: 13rem;
        height: 22rem;
        position: absolute;
        top: 0px;
	    left: -30px;
        z-index: -1;
    }

    .image-5 {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
        margin-top: 1rem;
    }
}

/* Showcase Category Archive Page */

.showcase-header {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid #EBB67A;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 3em;
    width: 70%;
}

.showcase-title {
    text-align: center;
    text-transform: uppercase;
}

.cat-image {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
}

.showcase-type {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        text-decoration: none;
        color: #404040;
        font-size: 1.2em;
    }
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90vw;
    height: 30vh;
    border-radius: 5px;
    margin: 1em;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        color:#DD7D74;
      }
}

.cat-title {
    padding: 2px 16px;
}

/* Taxonomy Pages */

.showcase-tax-header {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid #DD7D74;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 3em;
    width: 70%;
    text-align: center;
}

.showcase-categories {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;

    a {
        padding: .5rem .7rem;
        text-decoration: none;
        color: #EBB67A;
        &:hover {
            color:#DD7D74;
          }
    }
}

.video-embed {
    display: flex; 
    justify-content: center;
    align-items: center;

    .wp-video-popup {
        display: flex; 
        justify-content: center;
        align-items: center;  
    }

   .fa-play {
       position: absolute;
       z-index: 100;
       color: white;
       font-size: 3em;
       text-align: center;
   }

   img {
    width: 100%;
    height: auto; 
   }
}


.site-main-show-tax {
    .entry-content {
        // padding: 0 6px;
//   float: left;
  width: 24.99999%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        // width: 90vw;
        // height: 30vh;
        border-radius: 5px;
        // margin: 1em;
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            color:#DD7D74;
          }
        //   background: #ebb67a;

          .entry-header {
              padding: 1em;
              text-align: center;;
          }
    }
}

* {
    box-sizing: border-box;
  }